version: '3.8'

services:
  samba:
    container_name: docker_smb
    tty: true
    hostname: Docker
    build:
      context: .
      shm_size: '100mb'
      dockerfile: Dockerfile
    volumes:
      - "${SHARE_PATH}:/mnt/ps2smb"
    ports:
      - "445:445/tcp"
